{% load static %}
<!Doctype html>
<html>
    <head>
        <title>
            Python Challenge
        </title>
        <link rel="icon" type="image/png" href="{% static  "images/base_icons/python-icon.png"%}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    </head>
    <body>
        <div class="content">
            <h1>Python Challenge</h1>
            <h2>App Rest developed to consolidate python knowledge</h2>
            <p>This app was developed to mantain bookings and it's authos in a database and allow some interations like upload a csv file to import some amount of data.</p>
            <p>All it's interations are availiable with http methods</p>
        </div>
    </body>
</html>